#!/usr/bin/make -f

UPSTREAM_GIT = git://github.com/robotis/lesscpy.git
include /usr/share/openstack-pkg-tools/pkgos.make

PYTHONS:=$(shell pyversions -vr)
PYTHON3S:=$(shell py3versions -vr)

%:
	dh $@ --buildsystem=python_distutils --with python2,python3

override_dh_clean:
	dh_clean -O--buildsystem=python_distutils
	rm -rf build

override_dh_auto_install:
	set -e && for pyvers in $(PYTHONS); do \
		python$$pyvers setup.py install --install-layout=deb \
			--root $(CURDIR)/debian/python-lesscpy; \
	done
	set -e && for pyvers in $(PYTHON3S); do \
		python$$pyvers setup.py install --install-layout=deb \
			--root $(CURDIR)/debian/python3-lesscpy; \
	done
	mv $(CURDIR)/debian/python-lesscpy/usr/bin/lesscpy $(CURDIR)/debian/python-lesscpy/usr/bin/python2-lesscpy

	# Fix the interpreter to be /usr/bin/env python, rather than
	# python2.6, which needs argparse (this is only useful for
	# backporting to wheezy, we don't care for Python 2.7)
	sed -i '1 s/python2.6/env python/' $(CURDIR)/debian/python-lesscpy/usr/bin/python2-lesscpy

	mv $(CURDIR)/debian/python3-lesscpy/usr/bin/lesscpy $(CURDIR)/debian/python3-lesscpy/usr/bin/python3-lesscpy
	# Use /usr/bin/env python3 instead of /usr/bin/python3.x
	sed -i '1 s/python3\../env python/' $(CURDIR)/debian/python3-lesscpy/usr/bin/python3-lesscpy
